@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 8vh;
  background: #C60021;
  border-bottom: 0.5px solid black;
  top: 0;
}
nav img {
  max-height: 7.8vh;
  max-width: 25vw;
  position: absolute;
  left: 3%;
}
@media (min-width: 1000px) {
  nav img {
    left: 1%;
  }
}
nav .mobile-nav {
  position: absolute;
  right: 53%;
  left: 47%;
}
nav .mobile-nav i {
  font-size: 2rem;
  color: #F6F6F8;
}
@media (min-width: 1000px) {
  nav .mobile-nav {
    display: none;
  }
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  background: #F6F6F8;
  height: 35vh;
  width: 55vw;
  margin-top: 43vh;
  visibility: hidden;
}
@media (min-width: 1000px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: #C60021;
    height: auto;
    width: 95vw;
    margin-top: 0;
    margin-left: 5%;
    visibility: visible;
  }
}
nav ul li {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-bottom: 1px solid black;
}
@media (min-width: 1000px) {
  nav ul li {
    width: auto;
    height: auto;
    border: none;
    font-weight: 600;
  }
}
nav ul li a {
  color: #C60021;
  text-decoration: none;
}
@media (min-width: 1000px) {
  nav ul li a {
    color: black;
  }
  nav ul li a:hover {
    color: white;
  }
}
.head {
  height: 98vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/24/06/13/medical-781422_960_720.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.4);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.head img {
  margin-top: 2vh;
}
.head .sub-head,
.head .about-sub-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C60021;
}
.head .sub-head .mid-syringe,
.head .about-sub-head .mid-syringe {
  width: 120%;
  margin-right: 27%;
  margin-top: -15%;
  margin-bottom: -5%;
}
.head .sub-head h3,
.head .about-sub-head h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  margin-top: 10%;
  line-height: 2.1rem;
  font-weight: 600;
  color: #F6F6F8;
  padding: 0 3%;
}
@media (max-width: 340px) {
  .head .sub-head h3,
  .head .about-sub-head h3 {
    font-size: 1.5rem;
  }
}
.head .sub-head {
  margin-top: 20vh;
}
.head .about-sub-head {
  height: 14vh;
}
.about-head {
  height: fit-content;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4% 0;
}
.profile-wrapper .profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 175px;
  max-height: 175px;
  width: 48%;
  margin: 1%;
  box-sizing: border-box;
  padding: 2%;
  background: white;
  border: 1px solid black;
}
.profile-wrapper .profile-card h3 {
  color: #C60021;
  font-size: 1.3rem;
  margin-bottom: 1%;
  font-weight: 900;
}
.profile-wrapper .profile-card h4 {
  font-size: 1.1rem;
  margin: 1% 0;
  font-weight: 800;
}
.profile-wrapper .profile-card p {
  text-align: center;
}
.profile-wrapper .profile-card a {
  margin-top: 1%;
  text-decoration: none;
}
.profile-wrapper .profile-card img {
  margin-top: 0;
  max-height: 100px;
  max-width: 100px;
}
.profile-wrapper .profile-card:first-child {
  margin-right: 10vw;
  margin-left: 10vw;
}
footer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  background-color: #C60021;
}
@media (min-width: 1000px) {
  footer {
    align-items: center;
  }
}
footer div p {
  font-size: 1.2rem;
  margin-bottom: -1vh;
}
@media (min-width: 1000px) {
  footer div p {
    margin-bottom: 1vh;
  }
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-container .nav-container {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container .nav-container a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
@media (min-width: 1000px) {
  footer .footer-container .nav-container {
    width: 30vw;
  }
}
main {
  margin-top: 8vh;
}
main .content-section {
  height: 99.9vh;
}
main .content-section:nth-child(odd) {
  background-color: #C60021;
}
main .content-section:nth-child(even) {
  background-color: #E3E3E3;
}
