@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 8vh;
  background: #C60021;
  border-bottom: 0.5px solid black;
  top: 0;
}
nav img {
  max-height: 7.8vh;
  max-width: 25vw;
  position: absolute;
  left: 3%;
}
@media (min-width: 1000px) {
  nav img {
    left: 1%;
  }
}
nav .mobile-nav {
  position: absolute;
  right: 53%;
  left: 47%;
}
nav .mobile-nav i {
  font-size: 2rem;
  color: whitesmoke;
}
@media (min-width: 1000px) {
  nav .mobile-nav {
    display: none;
  }
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  background: whitesmoke;
  height: 35vh;
  width: 55vw;
  margin-top: 43vh;
  visibility: hidden;
}
@media (min-width: 1000px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: #C60021;
    height: auto;
    width: 95vw;
    margin-top: 0;
    margin-left: 8%;
    visibility: visible;
  }
}
nav ul li {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-bottom: 1px solid black;
}
@media (min-width: 1000px) {
  nav ul li {
    width: auto;
    height: auto;
    border: none;
    font-weight: 600;
  }
}
nav ul li a {
  color: #C60021;
  text-decoration: none;
}
@media (min-width: 1000px) {
  nav ul li a {
    color: black;
  }
  nav ul li a:hover {
    color: white;
  }
}
.head {
  height: 98vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/24/06/13/medical-781422_960_720.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.4);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.head img {
  margin-top: 2vh;
}
@media (min-width: 1000px) {
  .head img {
    min-height: 15vh;
    min-width: 15vh;
  }
}
.head .sub-head,
.head .about-sub-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C60021;
}
@media (min-width: 1000px) {
  .head .sub-head,
  .head .about-sub-head {
    border: 0.5px solid #C60021;
    border-radius: 60px;
  }
}
.head .sub-head .mid-syringe,
.head .about-sub-head .mid-syringe {
  width: 120%;
  margin-right: 27%;
  margin-top: -15%;
  margin-bottom: -5%;
}
@media (min-width: 1000px) {
  .head .sub-head .mid-syringe,
  .head .about-sub-head .mid-syringe {
    width: 100%;
    margin: -8% 0 -6%;
  }
}
.head .sub-head h3,
.head .about-sub-head h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  margin-top: 10%;
  line-height: 2.1rem;
  font-weight: 600;
  color: whitesmoke;
  padding: 0 3%;
}
@media (max-width: 340px) {
  .head .sub-head h3,
  .head .about-sub-head h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .head .sub-head h3,
  .head .about-sub-head h3 {
    font-size: 4rem;
    margin-top: 6%;
  }
}
.head .sub-head {
  margin-top: 20vh;
}
@media (min-width: 1000px) {
  .head .sub-head {
    height: 20vh;
  }
}
.head .about-sub-head {
  height: 14vh;
}
@media (min-width: 1000px) {
  .head .about-sub-head {
    background: none;
    border: none;
  }
  .head .about-sub-head .mid-syringe {
    visibility: hidden;
  }
  .head .about-sub-head h3 {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
@media (min-width: 1000px) {
  .section-one-wrapper {
    background-color: rgba(100, 100, 100, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    border-radius: 60px;
    border: 12.5px solid black;
    border-left: 25px solid #C60021;
    border-right: 25px solid #C60021;
  }
}
.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one h2 {
  margin-top: 5%;
  font-size: 3rem;
  font-weight: 800;
  justify-self: flex-start;
  text-align: center;
}
@media (min-width: 1000px) {
  .section-one h2 {
    margin-top: 1%;
    margin-bottom: 0.5%;
  }
}
.section-one .vials {
  margin-top: 5%;
  width: 99vw;
  height: 30vh;
}
@media (min-width: 1000px) {
  .section-one .vials {
    margin-top: 1%;
    width: 40vw;
    height: 35vh;
    border-radius: 60px;
  }
}
.section-one .section-one-content {
  margin-top: 5%;
  padding: 3% 0;
  background-color: rgba(100, 100, 100, 0.5);
  border: 5px solid #C60021;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .section-one .section-one-content {
    max-width: 820px;
    margin-top: 0;
    padding: 0;
    border: none;
    background: none;
  }
}
.section-one .section-one-content p {
  box-sizing: border-box;
  margin: 1% 3% 5%;
  padding: 0 3%;
  font-size: 2rem;
  line-height: 3rem;
}
@media (min-width: 1000px) {
  .section-one .section-one-content p {
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 50vw;
    text-align: center;
    font-weight: 600;
  }
}
.section-one .section-one-content img {
  margin-right: 2%;
  width: 55vw;
  height: 30vh;
  border-radius: 60px;
}
@media (min-width: 1000px) {
  .section-one .section-one-content img {
    margin-right: 0;
    margin-bottom: 1%;
    max-width: 820px;
  }
}
.about-head {
  height: fit-content;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4% 0;
}
@media (min-width: 1000px) {
  .profile-wrapper {
    margin: -2% 0 4%;
  }
}
.profile-wrapper .profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 175px;
  max-height: 175px;
  width: 48%;
  margin: 1%;
  box-sizing: border-box;
  padding: 2%;
  background: #091f36;
  color: gray;
  border: 1px solid black;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card {
    min-height: 23vmax;
    width: 25vmax;
  }
}
.profile-wrapper .profile-card h3 {
  color: #D61A3C;
  font-size: 1.3rem;
  margin-top: -1%;
  margin-bottom: 2%;
  font-weight: 900;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card h3 {
    font-size: 2.5rem;
    margin-top: -4%;
  }
}
.profile-wrapper .profile-card img {
  margin-top: 0;
  height: 100px;
  width: 100px;
  border: 1px solid red;
  border-radius: 60%;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card img {
    height: 14rem;
    width: 14rem;
  }
}
.profile-wrapper .profile-card h4 {
  font-size: 1.1rem;
  margin: 1% 0;
  font-weight: 800;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card h4 {
    font-size: 2rem;
  }
}
.profile-wrapper .profile-card p {
  text-align: center;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card p {
    font-size: 1.5rem;
  }
}
.profile-wrapper .profile-card a {
  font-size: 1.25rem;
  margin-top: 2%;
  margin-bottom: -1%;
  color: #612999;
  text-decoration: none;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card a {
    margin-bottom: -5%;
    font-size: 1.6rem;
  }
}
.profile-wrapper .profile-card:first-child {
  margin-right: 10vw;
  margin-left: 10vw;
}
@media (min-width: 1000px) {
  .profile-wrapper .profile-card:first-child {
    margin-right: 30vw;
    margin-left: 30vw;
  }
}
.hipaa-warning {
  height: 6vh;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.hipaa-warning .warning {
  color: red;
  text-decoration: underline;
  text-decoration-color: black;
}
footer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  background-color: #C60021;
}
@media (min-width: 1000px) {
  footer {
    align-items: center;
  }
}
footer div p {
  font-size: 1.2rem;
  margin-bottom: -1vh;
}
@media (min-width: 1000px) {
  footer div p {
    margin-bottom: 1vh;
  }
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-container .nav-container {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container .nav-container a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
@media (min-width: 1000px) {
  footer .footer-container .nav-container {
    width: 30vw;
  }
}
main {
  margin-top: 8vh;
}
main .content-section {
  height: 99.9vh;
}
main .content-section:nth-child(odd) {
  background-color: #C60021;
}
main .content-section:nth-child(even) {
  background-color: #E3E3E3;
}
