@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
html {
  font-size: 62.5%;
}
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 8vh;
  background: #C60021;
  border-bottom: 0.5px solid black;
  top: 0;
}
nav .mobile-nav {
  margin-left: 34%;
}
nav .mobile-nav i {
  font-size: 1.75rem;
  color: #F6F6F8;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  background: #F6F6F8;
  height: 35vh;
  width: 65vw;
  margin-top: 43vh;
  margin-left: -34%;
  visibility: hidden;
}
nav ul li {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  border-bottom: 1px solid black;
}
nav ul li a {
  color: #C60021;
  text-decoration: none;
}
main {
  margin-top: 8vh;
}
main .head {
  height: 73vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/24/06/13/medical-781422_960_720.jpg");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.4);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .head h1 {
  margin-top: 2vh;
  font-size: 4rem;
  font-weight: 900;
  color: #C60021;
}
main .head p {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #E3E3E3;
  margin-top: 24vh;
  padding-bottom: 3vh;
  background-color: rgba(80, 80, 80, 0.2);
}
main .head p span {
  color: maroon;
  font-weight: 800;
}
main .content-section {
  height: 99.9vh;
}
