footer{
    height: 5vh;
    .flex();
    background-color: @accentText;

    .footer-container{
        .flex(column, space-around);

        .nav-container{
            .flex();
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}