main{
    margin-top: 8vh;

    h1{
        font-size: 2.5rem;
        font-weight: 900;
    }

    .head{
        height: 95vh;
        background-color: darkblue;
    }

    .content-section{
        height: 99.9vh;
    }

}